.navbar {
    background-color: blueviolet;
}

.quem-somos{
    background-color: #DF7401;
    padding-bottom: 12px;
    padding-left: 30px;
}

.margin{
    padding-top: 20px;
    padding-bottom: 20px;
}

.img-ajustes{
    margin-top: 9px;
    margin-left: 10px;
}

.text-information{
    margin-top: 16px;
}

.Parceiros{
    background-color: #F4FA58;
}

.Serviços{
    background-color: #2EFEF7;
    padding-bottom: 12px;
}

.vscode{
    margin-left: 50px;
}

.dio{
    margin-top: 29px;
}

.git{
    margin-top: 10px;
}

.padding{
    padding-bottom: 177px;
}

.text-configuration{
    background-color: #FFFFFF;
}